#flag-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#map-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

img {
    max-width: 150px;
    height: auto;
}